In [2]:
import pandas as pd

# creating a simple dataframe
data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Location': ['New York', 'Paris', 'Berlin', 'London'],
    'Age': [24, 13, 53, 33],
    'Score': [45, 34, 23, 67]
}

df = pd.DataFrame(data)

# display basic information about the dataframe
# print(df.info())

# display the first 2 rows of the dataframe
# print(df.head(2))

# display the last 2 rows of the dataframe
# print(df.tail(2))

# display the column names of the dataframe
# print(df.columns)

# display the index of the dataframe
# print(df.index)

# display the values of the dataframe
# print(df.values)

# display the shape of the dataframe
# print(df.shape)

# display the number of elements in the dataframe
# print(df.size)

# display the number of dimensions of the dataframe
# print(df.ndim)

# display the data types of the dataframe
# print(df.dtypes)

# display the summary statistics of the dataframe
print(df.describe())

             Age      Score
count   4.000000   4.000000
mean   30.750000  42.250000
std    16.938615  18.786076
min    13.000000  23.000000
25%    21.250000  31.250000
50%    28.500000  39.500000
75%    38.000000  50.500000
max    53.000000  67.000000

In [64]:
# filtering the dataframe
# print(df[df['Age'] > 30])
# print(df[(df['Age'] > 30) & (df['Score'] > 30)])
# print(df[(df['Age'] > 30) | (df['Score'] > 30)])

# using the query method
# print(df.query('Age > 30'))
# print(df.query('Age > 30 & Score > 30'))
# print(df.query('Age > 30 | Score > 30'))

# selecting columns
# print(df['Name'])
# print(df[['Name', 'Age']])

# selecting rows
# print(df.loc[:, 'Name']) # select all rows and the 'Name' column
# print(df.loc[0:2, :]) # select the first 3 rows and all columns
# print(df.loc[0:2, 'Name']) # select the first 3 rows and the 'Name' column
# print(df.loc[0:2, ['Name', 'Age']]) # select the first 3 rows and the 'Name' and 'Age' columns

# selecting rows using the iloc method
# print(df.iloc[0:2, :]) # select the first 2 rows and all columns
# print(df.iloc[0:2, 0]) # select the first 2 rows and the first column
# print(df.iloc[0:2, 0:2]) # select the first 2 rows and the first 2 columns

# setting the index of the dataframe
# df.set_index('Name', inplace=True) # set the 'Name' column as the index of the dataframe and update the dataframe in place
# print(df)

# resetting the index of the dataframe
# df.reset_index(inplace=True) # reset the index of the dataframe and update the dataframe in place
# print(df)

# dropping columns
# df.drop('level_0', axis=1, inplace=True) # drop the 'Location' column

# dropping rows with conditions
# df.drop(df[df['Age'] > 30].index, inplace=True) # drop rows where the 'Age' column is greater than 30


# # sorting the dataframe
print(df.sort_values(by='Age'),'\n') # sort the dataframe by the 'Age' column in ascending order
print(df.sort_values(by='Age', ascending=False)) # sort the dataframe by the 'Age' column in descending order

    Name  Location  Age  Score
1   Anna     Paris   13     34
0   John  New York   24     45
3  Linda    London   33     67
2  Peter    Berlin   53     23

    Name  Location  Age  Score
2  Peter    Berlin   53     23
3  Linda    London   33     67
0   John  New York   24     45
1   Anna     Paris   13     34

In [73]:
# grouping

# group the dataframe by the 'Location' column and calculate the mean of the 'Age' column
print(df.groupby('Location')['Age'].mean(), '\n')

# group the dataframe by the 'Location' column and calculate the mean of the 'Age' and 'Score' columns
print(df.groupby('Location')[['Age', 'Score']].mean(), '\n')

# group the dataframe by the 'Location' column and calculate the mean of the 'Age' and 'Score' columns
# and rename the columns
print(df.groupby('Location').agg({'Age': 'mean', 'Score': 'mean'}), '\n')

Location
Berlin      53.0
London      33.0
New York    24.0
Paris       13.0
Name: Age, dtype: float64

           Age  Score
Location
Berlin    53.0   23.0
London    33.0   67.0
New York  24.0   45.0
Paris     13.0   34.0

           Age  Score
Location
Berlin    53.0   23.0
London    33.0   67.0
New York  24.0   45.0
Paris     13.0   34.0

In [5]:
# tranformation

# create a new column 'Age + Score' which is the sum of the 'Age' and 'Score' columns
df['Age + Score'] = df['Age'] + df['Score']
print(df, '\n')

    Name  Location  Age  Score  Age + Score
0   John  New York   24     45           69
1   Anna     Paris   13     34           47
2  Peter    Berlin   53     23           76
3  Linda    London   33     67          100

In [31]:
# manipulation

# create a new dataframe
data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Location': ['New York', 'Paris', 'Berlin', 'London'],
    'Age': [24, 13, 53, 33],
    'Score': [45, 34, 23, 67]
}

df2 = pd.DataFrame(data)

# concatenate the two dataframes
# df = pd.concat([df, df2], axis=0)
# print(df, '\n')

# drop duplicates
# df.drop_duplicates(inplace=True)
# print(df, '\n')

# drop rows with missing values
# df.dropna(inplace=True)
# print(df, '\n')

# fill missing values
# df.fillna(0, inplace=True)
# print(df, '\n')

# replace values
# df.replace(0, 99, inplace=True) # replace all 0 values with 100
# print(df, '\n')

# # apply a function to the dataframe
# def add_10(x):
#     return x + 10

# df['Age'] = df['Age'].apply(add_10)
# print(df, '\n')

# apply a lambda function to the dataframe
# df['Score'] = df['Score'].apply(lambda x: x - 20)
# print(df, '\n')

# # apply a function to the dataframe using the applymap method
# def add_10(x):
#     return x - 10

# # use applymap to apply the add_10 function to specific columns
# df[['Age', 'Score']] = df[['Age', 'Score']].applymap(add_10)
# print(df, '\n')

# # apply a lambda function to the dataframe using the applymap method
# df[['Age', 'Score']] = df[['Age', 'Score']].applymap(lambda x: x + 10)
# print(df, '\n')

    Name  Location  Age  Score  Age + Score
0   John  New York   44     25         69.0
1   Anna     Paris   33     14         47.0
2  Peter    Berlin   73      3         76.0
3  Linda    London   53     47        100.0
0   John  New York   44     25         99.0
1   Anna     Paris   33     14         99.0
2  Peter    Berlin   73      3         99.0
3  Linda    London   53     47         99.0

C:\Users\Youngmusty\AppData\Local\Temp\ipykernel_16676\2249647676.py:49: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df[['Age', 'Score']] = df[['Age', 'Score']].applymap(add_10)

In [34]:
# save and load data efficiently

# save the dataframe to a csv file
# df.to_csv('data.csv', index=False) # save the dataframe to a csv file without the index

# load the dataframe from a csv file
# df = pd.read_csv('data.csv')
# print(df, '\n')

# save the dataframe to an excel file
df.to_excel('data.xlsx', index=False) # save the dataframe to an excel file without the index

# load the dataframe from an excel file
df = pd.read_excel('data.xlsx')
print(df, '\n')

# save the dataframe to a json file
df.to_json('data.json') # save the dataframe to a json file

# load the dataframe from a json file
df = pd.read_json('data.json')
print(df, '\n')

    Name  Location  Age  Score  Age + Score
0   John  New York   44     25         69.0
1   Anna     Paris   33     14         47.0
2  Peter    Berlin   73      3         76.0
3  Linda    London   53     47        100.0
4   John  New York   44     25         99.0
5   Anna     Paris   33     14         99.0
6  Peter    Berlin   73      3         99.0
7  Linda    London   53     47         99.0